body {
  margin: 0;
  font-family: sans-serif;
  transition: background 0.3s, color 0.3s;
}

.dropdown-btn {
    position: relative;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.theme-light {
    background-color: #ffffff;
    color: #000000;
}

.theme-dark {
    background-color: #121212;
    color: #ffffff;
}

.theme-ocean {
    background-color: #0077be;
    color: #e0f7fa;
}

.theme-nord {
    background-color: #2e3440;
    color: #d8dee9;
}

.theme-light .dropdown-btn {
    background-color: #d3b3aa;
    color: #000000;
}

.theme-dark .dropdown-btn {
    background-color: #4f4f4f;
    color: #ffffff;
}

.theme-ocean .dropdown-btn {
    background-color: #193e51;
    color: #ffffff;
}

.theme-nord .dropdown-btn {
    background-color: #596680;
    color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

.dropdown-content {
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

li {
  list-style-type: none;
}

.dropdown-item {
  width: 100%;
  padding: 12px;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

#status {
  text-align: center;
  min-height: 20px;
}