* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.switch {
  position: relative;
  display: flex;
  width: 45px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #6c757d;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #28a745;
  box-shadow: 0 0 0 4px rgba(40, 167, 69, 0.12);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.drum-container {
  background: #3b3b5f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 300px;
}

.pad-bank-container {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.drum-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background: #666;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
}

.controls-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 0;
}

#power-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  color: white;
  font-size: 1.1rem;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  text-align: center;
  font-size: 1rem;
  padding: 20px;
  background: #444;
  border-radius: 5px;
  color: white;
  height: 40px;
}

.volume-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
  color: white;
  font-size: 1.1rem;
}

#volume-control {
  width: 100%;
  background: #ffaa33;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: #ffaa33;
  border-radius: 2px;
  margin-bottom: 10px;
}

#volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.bank-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  color: white;
  font-size: 1.1rem;
}

.drum-pad:hover {
  background: #777;
}

.drum-pad.active {
  background: #ffaa33;
  color: #000;
}
