html {
  display: flex;
  height: 100vh;
  justify-content: center;
}

body{
  margin: auto;
}

.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item-list > li {
  font-size: 1.1rem;
  padding: 10px;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  width: 100%;
}

.favorite-icon {
  font-size: 1.4rem; 
  background-color: white;
  border: none;
}

.filled {
  color:red;
}