* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0a0a23;
    color: #ffffff;
}

main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 30px;
    margin-top: 20px;
}

.title {
    text-align: center;
    padding: 10px 0;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.palindrome-container {
    display: flex;
    background-color: white;
    box-shadow: 0 6px 6px #002ead;
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 15px;
    width: min(100vw, 450px);
    min-height: 25vh;
    align-items: center;
    justify-content: center;
    color: #0a0a23;
}

.instruction {
    padding-bottom: 10px;
    font-size: 1.6rem;
}

.text-input {
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 1.6rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #5a01a7;
}

.check-btn {
    border: none;
    background-color: #5a01a7;
    color: #fff;
    cursor: pointer;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    margin-left: 30px;
}

.result-msg {
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}

.info-container {
    width: min(100vw, 450px);
    margin-top: 20px;
    background-color: #00471b;
    border-radius: 20px;
    padding: 20px;
    font-size: 2rem;
}

.info-description {
    text-align: center;
}